@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;700&display=swap');

html {
  font-size: 62.5%;
}

body {
  font-family: 'Assistant', sans-serif;
}

.vertical-nav {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;

  outline: 1px solid black;
}

.site-logo {
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;

  font-size: 2.4rem;
  font-family: 'Itim', sans-serif;
  font-weight: 700;
  text-transform: uppercase;

  margin: 1.5rem 3rem ;

  /* outline: 1px solid black; */
}

.menus {
  margin: 2rem 3rem;
  font-size: 1.8rem;
}

.menus ul {
  list-style-type: none;
  padding: 0;
}

.menus ul > li {
  padding: 0 1rem;
}

.menus ul > li > a {
  text-decoration: none;
  color: black;
  
}